@font-face {
    font-family: 'redressed';
    src: url('../fonts/redressed-regular-webfont.woff2') format('woff2'),
         url('../fonts/redressed-regular-webfont.woff') format('woff'),
         url('../fonts/redressed-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}