// farben fest legen
$primary:       red;
$secondary:     blue;
$success:      #53d745;

// gradients einschalten
$enable-gradients:            true;
$enable-shadows: true;

// fonts
$font-family-base: "Open Sans", Arial, sans-serif;
$headings-font-family: 'redressed', Arial, sans-serif;